---
import Layout from '../layouts/Layout.astro';
import AriaTextField from '../components/AriaTextField.jsx';
import AriaFileTrigger from '../components/AriaFileTrigger.jsx';
import AriaSubmitButton from '../components/AriaSubmitButton.jsx';

---
<Layout title="Auditor X">
  <h1>Auditor X</h1>
  <h2>Improve your readability and ranking!</h2>
  <h4>Type or upload your text. Auditor X will read, score, and improv your work!</h4>
  <form>
    <AriaTextField />
    <AriaFileTrigger client:load >
      <button />
    </AriaFileTrigger>
    <AriaSubmitButton client:load />
  </form>
</Layout>